/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "devise";
@import "home";
@import "font-awesome";
@import "sidebar";
@import "engenharias";
@import "produtos";
@import "processos";
@import "ingredientes";
@import "select2";
@import "select2-bootstrap";

body {
  width: 100%;
  height: 100%;

  font-family: "Montserrat", sans-serif;

  background: white;
}

.global-content {
  display: flex;
  flex-direction: row;
}

input {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.custom-primary-btn {
  background: #df9933;
  border-color: #df9933;
  color: white;

  &:hover {
    background: #b77e28;
  }
}

.alert {
  margin-top: 3%;
}

.select2-style {
  display: flex;
  flex-direction: column;
}

.table tbody tr > td.success {
  background: #5ccb99 !important;
}

.table tbody tr > td.error {
  background: #ef827a !important;
}

.table tbody tr > td.warning {
  background: #aba9c3 !important;
}

.table tbody tr > td.info {
  background: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
  background: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
  background: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
  background: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
  background: #c4e3f3 !important;
}
