.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.login-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  align-self: center;
  background: #dca333;

  input {
    margin-top: 2%;
  }

  .remember {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  img {
    width: 95%;
    margin-bottom: 10px;
  }
}

.links {
  text-align: center;
  margin-top: 2%;

  a:hover {
    color: #fff;
  }
}

h2 {
  margin-bottom: 5%;
  margin-top: 5%;
}

.criar-conta {
  margin-top: 15%;
}

.btn-login {
  color: #000;
  background: #fff;

  &:hover {
    background: #c0c0c0;
  }
}
