.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.login-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  align-self: center;

  input {
    margin-top: 2%;
  }

  .remember {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  img {
    width: 95%;
    margin-bottom: 10px;
  }
}

.links {
  text-align: center;
  margin-top: 2%;

  a:hover {
    color: #2196f3;
  }
}

h2 {
  margin-bottom: 5%;
  margin-top: 5%;
}

.criar-conta {
  margin-top: 15%;
}
