<p>Olá <%= @resource.nome %>!</p>

<p>Alguém solicitou uma alteração de senha, você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa solicitação, por favor ignore esse email.</p>
<p>Sua senha não será alterada até que acesse o link e informe uma nova senha.</p>
